@use '../1-helpers/1-helper' as help

// ========= header buttons 
// ========= personal button
.personal__cta  
    color: help.$white 
    padding: 10px 30px 
    border-radius: 25px 
    border: none
    font-weight: 600
    align-self: start


