
@use '../1-helpers/1-helper' as help

// =========== global

*,*::after,*::before
    box-sizing: border-box
    margin: 0

html
    font-size: 100%

body 
    background: help.$white 

a 
    text-decoration: none

li 
    list-style: none



//classes for using visibility
.hidden 
    visibility: hidden

.visible
    visibility: visible