
@use '../1-helpers/1-helper' as help

// =========== global

*,*::after,*::before
    box-sizing: border-box
    margin: 0

html
    font-size: 100%

body 
    background: help.$white 
    scroll-behavior: smooth
    
a 
    text-decoration: none

li 
    list-style: none


//classes for using visibility
.hidden 
    visibility: hidden

.visible
    visibility: visible


.share 
    display: none

    @include help.media-mob 
        display: block
        color: lighten(grey, 6) !important
        margin-left: auto !important


.overlay 
    position: absolute
    width: 100%
    height: 100vh
    top: 0
    left: 0
    z-index: 8

    @extend .hidden