
@use '../1-helpers/variables' as var

.login-link
    color: var.$primary

.sign-link
    color: var.$white 

.form :link 
    text-decoration: none

.forgot-btn :link 
    color: #111

.sign-link
    color: var.$primary
    font-size: 1rem