
@use '../1-helpers/mixins' as mixin


// ======== font families 

@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Lato&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap')

// header font
.header 
    font-family: 'Roboto', sanserif

// post font
.post 
    font-family: 'Dongle', sanserif
    font-size: 28px
    line-height: 17px

// aside section 
.side 
    font-family: 'Roboto', sanserif

.form 
    font-family: 'Roboto', sanserif

@include mixin.media-tab
    .side 
        &__text
            font-size: 20px

@include mixin.media-mob
    .side__text
        padding: 5px


