
@use './variables' as var


// lines for post-info
@mixin line
    content: ""
    height: 1px 
    width: 100%
    position: absolute
    left: 0
    background-color: lighten(var.$text-grey, 50)    

// media queries 
@mixin media-desk 
    @media (max-width: var.$desktop)
        @content

@mixin media-lap 
    @media (max-width: var.$laptop)
        @content

@mixin media-tab 
    @media (max-width: var.$tablet)
        @content

@mixin media-mob 
    @media (max-width: var.$mobile)
        @content