
@use './variables' as var

// lines for post-info
@mixin line
    content: ""
    height: 1px 
    width: 100%
    position: absolute
    left: 0
    background-color: lighten(var.$text-grey, 50)    

// for page styling, if parameter equal 'form' then that should be rendering form, otherwise the style for comment page
@mixin page ($param)
    @if $param == 'form'
        background: rgba(0,0,0,0.4)
        min-height: 100vh
        display: flex
        align-items: center
        justify-content: center
        margin: 0
        box-sizing: border-box
    @else 
        background: var.$white 
        scroll-behavior: smooth
        min-height: 100vh

// media queries, when user view the site different devices, the site style will be different for that devices
@mixin media-desk 
    @media (max-width: var.$desktop)
        @content

@mixin media-lap 
    @media (max-width: var.$laptop)
        @content

@mixin media-tab 
    @media (max-width: var.$tablet)
        @content

@mixin media-mob 
    @media (max-width: var.$mobile)
        @content

@mixin form 
    @media (max-width: 558px) 
        @content 


// text tip after share symbol in side-section
@mixin tip 
    content: "tip"
    margin-left: 5px 
    text-transform: capitalize
    font-size: 12px


// used for 2 form pages sign-up, login
@mixin form 
    body
        @include page('form')

    // form section 
    .form
        width: 600px
        max-width: 600px
        margin: auto
        height: 90vh
        background: var.$white
        display: flex
        flex-direction: column
        align-items: center
        position: relative
        padding: 20px
        border-radius: 20px
        z-index: 2
        overflow-x: hidden

        // media query for form
        @media screen and (max-width: 600px)
            height: 100vh  
            border-radius: 0 

        .form__header 
            width: 100%
            display: flex
        
            .cross 
                width: 50%
                align-self: stretch

                span
                    padding: 5px 8px
                    border-radius: 50%
                    cursor: pointer
                    font-size: 1.2rem
                    font-weight: 500

                    &:hover 
                        background: rgba(0,0,0,0.2)
            
            .form__logo > img   
                height: 28px
                width: 23px 
                object-fit: cover
