/* Error: There is no module with the namespace "help".
 *    ,
 * 24 |         background: help.$white 
 *    |                     ^^^^^^^^^^^
 *    '
 *   public/sass/1-helpers/_mixins.sass 24:21  body()
 *   public/sass/4-layouts/_comment.sass 7:5   @forward
 *   public/sass/4-layouts/_4-layout.sass 5:1  @use
 *   public/sass/5-pages/comment.sass 5:1      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "help".\a    \2577 \a 24 \2502          background: help.$white \a    \2502                      ^^^^^^^^^^^\a    \2575 \a   public/sass/1-helpers/_mixins.sass 24:21  body()\a   public/sass/4-layouts/_comment.sass 7:5   @forward\a   public/sass/4-layouts/_4-layout.sass 5:1  @use\a   public/sass/5-pages/comment.sass 5:1      root stylesheet';
}
