@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  font-family: "Roboto", sanserif;
}

.post {
  font-family: "Dongle", sanserif;
  font-size: 28px;
  line-height: 17px;
}

.side {
  font-family: "Roboto", sanserif;
}

@media (max-width: 768px) {
  .side__text {
    font-size: 20px;
  }
}
@media (max-width: 440px) {
  .side__text {
    padding: 5px;
  }
}
.login-link {
  color: #0878a1;
}

.sign-link {
  color: #fff;
}

.sign-in-cta, .login-cta {
  width: 45%;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
}
@media (max-width: 440px) {
  .sign-in-cta, .login-cta {
    padding: 5px 10px;
    font-size: 12px;
  }
}

.login-cta {
  color: #0878a1;
  background-color: #fff;
  border: 1px solid #635f5f;
  margin-right: 10px;
}
.login-cta:hover .login-link {
  color: #fff;
}

.login-cta_color {
  transition: ease-in 0.01s 0.01s;
}
.login-cta_color:hover {
  background-color: #1bbaf4;
}

.sign-in-cta {
  color: #fff;
  background-color: #0878a1;
}
.sign-in-cta:hover .sign-link {
  color: #0878a1;
}

.sign-in-cta_color {
  transition: ease-in 0.01s 0.01s;
}
.sign-in-cta_color:hover {
  background-color: #fff;
  border: 1px solid #0878a1;
}

.header {
  width: 100%;
  padding: 10px;
}
.header .sign-bar {
  background-color: #fff;
}
.header .sign-bar__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
}
.header .user {
  height: 100px;
  margin: 0 5px;
  padding: 0px 5px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header .user__details {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header .user__details .user__img > img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.header .user__details .user__name {
  margin-left: 10px;
  text-transform: capitalize;
}
.header .user__details .user__name .name, .header .user__details .user__name .id {
  font-weight: 400;
}
.header .user__details .user__name .name {
  font-size: 0.9rem;
  font-weight: 600;
}
.header .user__details .user__name .name > .blue_tick > img {
  width: 17px;
  transform: translateY(2px);
}
.header .user__details .user__name .id {
  font-size: small;
  color: #635f5f;
}
.header .user .menu-btn {
  align-self: center;
  font-size: 1rem;
  cursor: pointer;
}
.header .user .menu-btn i {
  padding: 15px;
  border-radius: 50%;
}
.header .user .menu-btn:hover i {
  background: #def5fd;
  color: #0a9cd2;
}
.header .user .menu {
  position: absolute;
  background: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  right: 10px;
  top: 45px;
  border-radius: 5px;
  display: none;
  z-index: 2;
}
.header .user .menu li {
  padding: 12px 15px;
  color: #635f5f;
  cursor: pointer;
}
.header .user .menu li i {
  margin-right: 10px;
}
.header .user .menu li:hover {
  background: #f7f7f7;
}
.header .user .menu p {
  display: inline;
  font-weight: 100;
}
.header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.01);
  cursor: pointer;
  z-index: 1;
}
@media (max-width: 768px) {
  .header .user .user__img > img {
    height: 60px;
    width: 60px;
  }
  .header .user .user__name .name {
    font-size: medium;
  }
  .header .user .user__name .id {
    font-size: small;
  }
  .header .user .menu {
    font-size: 1.2rem;
  }
}

.page {
  display: flex;
  height: 100vh;
}
.page .post {
  flex: 2;
  height: 100%;
  display: flex;
  flex-flow: column;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  position: relative;
}
.page .post__img > img {
  max-height: 90%;
  width: 100%;
  max-width: 300px;
  object-fit: cover;
  display: block;
  margin: 10px auto;
}
@media (max-width: 768px) {
  .page .post {
    display: none;
  }
}
.page .post .image-info {
  background: rgba(0, 0, 0, 0.4);
  padding: 15px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.page .post .image-info ul {
  padding-left: 0;
  display: flex;
  justify-content: space-evenly;
}
.page .post .image-info ul li {
  cursor: pointer;
  font-size: 1.2rem;
}
.page .post .image-info ul li span {
  margin-left: 7px;
}
.page .post .image-info ul li i {
  padding: 7px;
  border-radius: 50%;
}
.page .post .image-info ul li i:hover {
  background: #333333;
  color: #fff;
}
.page .post .image-info ul :nth-child(2) > i:hover {
  background: rgba(102, 255, 51, 0.1);
  color: #339933;
}
@media (max-width: 440px) {
  .page .post {
    padding: 10px;
  }
  .page .post__text {
    margin-bottom: 9px;
  }
}

.side {
  flex: 1;
  overflow: scroll;
}
.side li {
  cursor: pointer;
  color: #635f5f;
}
.side__text {
  margin-bottom: 5px;
  color: #000;
  padding: 0 10px;
}
.side__img > img {
  max-height: 90%;
  width: 100%;
  max-width: 300px;
  object-fit: cover;
  display: block;
  margin: 10px auto;
  display: none;
}
@media (max-width: 768px) {
  .side__img > img {
    display: block;
  }
}
.side__time {
  width: 40%;
  margin: 10px 0;
  padding: 10px;
  display: inline-flex;
  color: #635f5f;
  margin-right: auto;
  font-size: 15px;
}
.side__time > * {
  margin-right: 10px;
}
.side .post__info {
  padding: 0 10px;
  font-weight: 600;
  font-size: 15px;
}
.side .post__info span {
  margin-left: 3px;
  color: #635f5f;
  font-weight: 500;
}
.side .post__info .tweets {
  display: flex;
  padding: 20px 0 20px 0;
  position: relative;
}
.side .post__info .tweets::before {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #e1e0e0;
  top: 0;
}
.side .post__info .tweets::after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #e1e0e0;
  bottom: 0;
}
.side .post__info .tweets :first-child {
  margin-right: 6px;
}
.side .post__info .likes {
  padding: 20px 0 20px 0;
  position: relative;
}
.side .post__info .likes::after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #e1e0e0;
  bottom: 0;
}
.side .post__info .likes p {
  display: inline;
}
.side .post__reply {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
}
.side .post__reply::after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #e1e0e0;
  bottom: 0;
}
.side .post__reply ul {
  padding-left: 0;
  display: flex;
}
.side .post__reply ul li {
  padding-right: 30px;
  padding: 7px;
  border-radius: 50%;
}
.side .post__reply ul li:hover {
  color: #0878a1;
  background: #e7f8fe;
}
.side .post__reply ul :nth-child(3):hover {
  color: crimson;
  background: #fde8ec;
}
.side .post__reply :last-child > span {
  font-size: 14px;
}

/*# sourceMappingURL=comment.css.map */
