@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");
.personal__cta {
  color: #fff;
  padding: 10px 30px;
  border-radius: 25px;
  border: none;
  font-weight: 600;
  align-self: start;
}

body {
  background: rgba(0, 0, 0, 0.2);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  box-sizing: border-box;
}

.form {
  width: 550px;
  max-width: 600px;
  margin: auto;
  height: 80vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 20px;
  border-radius: 20px;
  z-index: 2;
  overflow-x: hidden;
}
.form .form__header {
  width: 100%;
  display: flex;
}
.form .form__header .cross {
  width: 50%;
  align-self: stretch;
}
.form .form__header .cross span {
  padding: 5px 8px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}
.form .form__header .cross span:hover {
  background: rgba(0, 0, 0, 0.2);
}
.form .form__header .form__logo > img {
  height: 28px;
  width: 23px;
  object-fit: cover;
}

main {
  text-align: center;
  overflow: scroll;
  width: 100%;
}
main .form__text {
  margin: 5px 0px;
}
main .sign-box {
  padding: 15px 5px 5px;
  min-height: 60vh;
  width: 250px;
  margin: auto;
}
main .sign-box .google__sign, main .sign-box .forgot-btn button, main .forgot-btn .sign-box button, main .sign-box .normal-sign button, main .normal-sign .sign-box button, main .sign-box .apple__sign {
  height: 40px;
  border: 1px solid rgba(99, 95, 95, 0.4);
  width: 100%;
  border-radius: 30px;
  margin: 18px 0;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  cursor: pointer;
}
main .sign-box .google__sign img, main .sign-box .forgot-btn button img, main .forgot-btn .sign-box button img, main .sign-box .normal-sign button img, main .normal-sign .sign-box button img, main .sign-box .apple__sign img {
  width: 20px;
  margin-right: 4px;
}
main .sign-box .google__sign, main .sign-box .forgot-btn button, main .forgot-btn .sign-box button, main .sign-box .normal-sign button, main .normal-sign .sign-box button {
  color: rgba(99, 95, 95, 0.7);
}
main .sign-box .apple__sign {
  color: initial;
  position: relative;
}
main .sign-box .apple__sign:hover {
  background: #e6e2d8;
}
main .sign-box .bottom-text {
  position: relative;
  margin: 10px;
  font-weight: 600;
  letter-spacing: 0.4px;
}
main .sign-box .bottom-text::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 45%;
  top: 50%;
  right: 0;
  background: #bab8b3;
  transform: translateX(5px);
}
main .sign-box .bottom-text::before {
  content: "";
  height: 1px;
  width: 45%;
  left: 0;
  top: 50%;
  position: absolute;
  background: #bab8b3;
  transform: translateX(-5px);
}
main .normal-sign input {
  width: 90%;
  padding: 15px 10px;
  border: 1px solid #bab8b3;
  outline-color: #0878a1;
  font-size: 0.9rem;
}
main .normal-sign ::placeholder {
  font-size: 0.9rem;
}
main .normal-sign button {
  background: #000;
  color: #fff !important;
}
main .normal-sign button:hover {
  background: #111;
}
main .forgot-btn button {
  background: #fff;
  color: #000;
}
main .forgot-btn button:hover {
  background: #e6e2d8;
  border: none;
}
main .user-sign {
  padding-top: 30px;
  font-size: 1rem;
  color: grey;
  text-align: left;
}

@media (max-width: 558px) {
  .form {
    height: 100vh !important;
    border-radius: 0 !important;
  }
}
.header {
  font-family: "Roboto", sanserif;
}

.post {
  font-family: "Dongle", sanserif;
  font-size: 28px;
  line-height: 17px;
}

.side {
  font-family: "Roboto", sanserif;
}

.form {
  font-family: "Roboto", sanserif;
}

@media (max-width: 768px) {
  .side__text {
    font-size: 20px;
  }
}
@media (max-width: 440px) {
  .side__text {
    padding: 5px;
  }
}
.sign-in-cta, .login-cta {
  width: 45%;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 440px) {
  .sign-in-cta, .login-cta {
    padding: 5px 10px;
    font-size: 12px;
  }
}

.login-cta {
  color: #0878a1;
  background: #fff;
  border: 1px solid #635f5f;
  margin-right: 10px;
  color: #0878a1;
}

.login-cta_color {
  transition: ease-in 0.01s 0.01s;
}
.login-cta_color:hover {
  background: #1bbaf4;
  color: #fff;
}

.sign-in-cta {
  color: #fff;
  background: #0878a1;
}

.sign-in-cta_color {
  transition: ease-in 0.01s 0.01s;
}
.sign-in-cta_color:hover {
  background: #fff;
  border: 1px solid #0878a1;
  color: #0878a1;
}

.form :link {
  text-decoration: none;
}

.forgot-btn :link {
  color: #111;
}

.sign-link {
  color: #0878a1;
  font-size: 1rem;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.hidden, .overlay {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.share {
  display: none;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 8;
}

/*# sourceMappingURL=login.css.map */
