@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");
.header {
  font-family: "Roboto", sanserif;
}

.post {
  font-family: "Dongle", sanserif;
  font-size: 28px;
  line-height: 17px;
}

.side {
  font-family: "Roboto", sanserif;
}

.form {
  font-family: "Roboto", sanserif;
}

@media (max-width: 768px) {
  .side__text {
    font-size: 20px;
  }
}
@media (max-width: 440px) {
  .side__text {
    padding: 5px;
  }
}
.sign-in-cta, .login-cta {
  width: 45%;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 440px) {
  .sign-in-cta, .login-cta {
    padding: 5px 10px;
    font-size: 12px;
  }
}

.login-cta {
  color: #0878a1;
  background: #fff;
  border: 1px solid #635f5f;
  margin-right: 10px;
  color: #0878a1;
}

.login-cta_color {
  transition: ease-in 0.01s 0.01s;
}
.login-cta_color:hover {
  background: #1bbaf4;
  color: #fff;
}

.sign-in-cta {
  color: #fff;
  background: #0878a1;
}

.sign-in-cta_color {
  transition: ease-in 0.01s 0.01s;
}
.sign-in-cta_color:hover {
  background: #fff;
  border: 1px solid #0878a1;
  color: #0878a1;
}

.form :link {
  text-decoration: none;
}

.forgot-btn :link {
  color: #111;
}

.sign-link {
  color: #0878a1;
  font-size: 1rem;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.hidden, .overlay {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.share {
  display: none;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 8;
}

body {
  background: rgba(0, 0, 0, 0.4);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  box-sizing: border-box;
}

.form {
  width: 600px;
  max-width: 600px;
  margin: auto;
  height: 90vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 20px;
  border-radius: 20px;
  z-index: 2;
  overflow-x: hidden;
}
@media screen and (max-width: 600px) {
  .form {
    height: 100vh;
    border-radius: 0;
  }
}
.form .form__header {
  width: 100%;
  display: flex;
}
.form .form__header .cross {
  width: 50%;
  align-self: stretch;
}
.form .form__header .cross span {
  padding: 5px 8px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}
.form .form__header .cross span:hover {
  background: rgba(0, 0, 0, 0.2);
}
.form .form__header .form__logo > img {
  height: 28px;
  width: 23px;
  object-fit: cover;
}

.sign-up {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.sign-up__text {
  text-align: left;
  font-weight: 600;
  line-height: 3;
  color: #111;
}
.sign-up__text::first-letter {
  text-transform: capitalize;
}
.sign-up form .js-form__input {
  border: 2px solid #0878a1;
}
.sign-up form .form__input {
  border: 1px solid #bab1b1;
  margin: 1.5rem 0;
}
.sign-up form .form__input p {
  margin-left: 10px;
  font-size: 1rem;
  margin-top: 5px;
  color: grey;
  transition: ease-in 3s 3s;
  transform: translateY(10px);
}
.sign-up form .form__input .js-p {
  font-size: 0.7rem;
  transform: translateY(0px);
}
.sign-up form .form__input input {
  padding: 0 10px 10px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
}
.sign-up__change-input {
  color: #0878a1;
  margin: 1rem 0;
  font-size: 0.9rem;
  padding: 1rem 0;
  cursor: pointer;
}
.sign-up__change-input:hover {
  text-decoration: underline;
}
.sign-up .headline-birth {
  color: #222;
  line-height: 1.2rem;
}
.sign-up .headline-description {
  font-size: 0.9rem;
  color: grey;
}
.sign-up .birth-choose {
  display: flex;
  padding: 1.3rem 0;
}
.sign-up .birth-choose :nth-child(1) {
  flex: 1;
}
.sign-up .birth-choose :nth-child(1) :nth-child(2) {
  width: 100%;
  background: #fff;
  border: none;
  outline: none;
}
.sign-up .birth-choose :nth-child(1) :nth-child(2) > * :hover {
  background: #4cc8f6;
}
.sign-up .birth-choose :nth-child(2) {
  flex: 2;
}
.sign-up .birth-choose :nth-child(2) :nth-child(2) {
  width: 100%;
  background: #fff;
  border: none;
  outline: none;
}
.sign-up .birth-choose :nth-child(2) :nth-child(2) > * :hover {
  background: #4cc8f6;
}
.sign-up .birth-choose :nth-child(3) {
  flex: 3;
}
.sign-up .birth-choose :nth-child(3) :nth-child(2) {
  width: 100%;
  background: #fff;
  border: none;
  outline: none;
}
.sign-up .birth-choose :nth-child(3) :nth-child(2) > * :hover {
  background: #4cc8f6;
}
.sign-up .birth-choose .dd, .sign-up .birth-choose .mm, .sign-up .birth-choose .yyyy {
  border: 1px solid #ccc9c0;
  margin-left: 10px;
  padding: 4px;
}
.sign-up .birth-choose .dd p, .sign-up .birth-choose .mm p, .sign-up .birth-choose .yyyy p {
  color: #888;
  font-size: 0.9rem;
}
.sign-up .submit {
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: #999;
  color: white;
  font-weight: 600;
  cursor: pointer;
  pointer-event: none;
  margin-top: 10px;
  text-transform: capitalize;
}

/*# sourceMappingURL=sign-up.css.map */
