
@use '../1-helpers/1-helper' as help

// page container

.page
    display: flex 
    height: 100vh

    // post section
    .post
        flex: 2 0 70%

        // decrease post width when laptop size come
        @include help.media-lap 
            flex-basis: 55%

        height: 100%
        display: flex
        flex-flow: column
        background-color: rgba(help.$black, .8)
        justify-content: center
        position: relative

        // when tablet users can't see the post section
        @include help.media-tab
            display: none

        .post__img
            height: 100%

            // higher than tablet width image size will be grow
            @media (min-width: help.$tablet)
                > img 
                    max-width: 70%
                    object-fit: contain
                    height: 90%
                    display: block
                    margin: 10px auto

        // below tablet view image size will small

            @include help.media-tab
                > img 
                    height: 60%

         
            

        .image-info
            background: rgba(help.$black, .4)
            padding: 15px
            color: help.$white
            position: absolute
            bottom: 0
            left: 0
            width: 100%
           
            ul 
                padding-left: 0
                display: flex
                justify-content: space-evenly

                li 
                    cursor: pointer
                    font-size: 1.2rem

                    span 
                        margin-left: 7px

                    i
                        padding: 8px
                        border-radius: 50%
                        transition: all ease .100ms .100ms
                        &:hover
                            background: darken(help.$white, 80)
                            color: help.$white
                    
                :nth-child(2) > i 
                    &:hover 
                        background: rgba(#66ff33, .1)
                        color: #339933


    // media queries for mobile

    @include help.media-mob
        .post 
            padding: 10px
            &__text 
                margin-bottom: 9px