
extends layout

block css 
    link(rel="stylesheet", href="build/css/login.min.css")

block content    
    main
        .form__text
            h2 Sign in to Twitter
        .sign-box 
            .google__sign 
                img(src="Assets/google.png", alt="google.png")
                span sign in with google
            .apple__sign 
                img(src="Assets/apple-logo.png", alt="apple.png")
                span sign in with apple
            
            .bottom-text 
                p or
            .normal-sign
                form(method="post" action="/login") 
                    input(type="text" autocomplete="on" placeholder="Phone, email address, username" name="user" required)
                    button(type="submit" class="submit-btn") Next
            
            .forgot-btn
                button
                    a(href="/login/forgot") Forgot password
            p.user-sign Don't have an account? 
                a(href="/sign-up" class="sign-link") Sign up 